node_modules
npm-debug.log
*.gz

pids
logs
results

data/*.xml
*.min.js
.DS_Store
data/vim/
mongoosesession

ontwerptvguide.txt


data/readprogs.old.py
data/xmlparse.js
front/scripts/infinity.js
front/scripts/jquery-2.0.3.min.map
